<nav>
    <a [style]="linkstyle" routerLink="/">Home</a>
    <a [style]="linkstyle" routerLink="/about">About</a>
    <a [style]="linkstyle" routerLink="/contact">contact</a>
    <a [style]="linkstyle" routerLink="/facultyname">All Faculty</a>
    <a [style]="linkstyle" routerLink="/morethan10exp">10+ Experience</a>
    <a [style]="linkstyle" routerLink="/curd">CURD Form</a>
    <a [style]="linkstyle" routerLink="/students">Students</a>
    <a [style]="linkstyle" routerLink="/student/add">Add Student</a>
  </nav>
  <hr/>
  <hr/>
