<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login form</h1>
    <form action="/login" method="POST">
    <table>
         <tr>
             <td>
                <td>Email</td>
                <td>:</td>
                <td><input required type="email" name="email"></td>
            </td>
        </tr>
         <tr>
             <td>
                <td>Password</td>
                <td>:</td>
                <td><input required type="password" name="password"></td>
            </td>
        </tr>
        <tr>
            <td><a ><input type="submit" value="Login" ></a></td>
        </tr>
    </table></form>
    <a href="../">home</a>
</body>
</html>